{% extends 'base.html' %} {% block body %}
<div class="container mt-3">
  <h1 style="color: orange; text-align: center">Post's Publicados</h1>
  <hr />
  {% for post in posts %}
  <div class="row border mt-4 p-4 meupost">
    <div class="col col-3">
      <div class="image pe-2">
        <img
          src="{{ url_for('static',filename='fotos_perfil/{}'.format(post.autor.foto_perfil)) }}"
          class="rounded"
          width="200"
        />
      </div>
      <strong>{{ post.autor.username }}</strong>
    </div>
    <div class="col col-9">
      <a
        style="text-decoration: none"
        href="{{ url_for ('exibir_post', post_id=post.id) }}"
      >
        <h3>{{ post.titulo }}</h3>
      </a>
      <p>{{ post.descricao }}</p>
      <p>{{ post.autor.username }}</p>
    </div>
  </div>
  {% endfor %} {% endblock %}
</div>
